<h4 class="text-secondary">{{title}}</h4>
<form method="POST">
    <fieldset>
        <label for="name" class="col-2 text-info">
            Genre Name:
        </label>
        <input name="name" id="name" />
    </fieldset>
    <button class="offset-3 btn btn-info">
        SAVE
    </button>
</form>
<div class="container" align="center">
    <img src="../images/genre.png" class="rounded-circle" alt="genre" width="200">
</div>