<h3 class="text-info">{{title}}</h3>
<a href="/genres/add">Add a new genre</a>
<table class="table table-hover">
    <thead>
        <th>Genre Name</th>
    </thead>
    <tbody>
        {{#each dataset}}
            <tr>
                <td>{{this.name}}</td>
            </tr>
        {{/each}}
    </tbody>
</table>