<div class="container" align="center">
    <h1 class="text-info">{{title}}</h1>

    <h2 class="text-secondary">Welcome to Bo's Bookshelf!!</h2>
    <p class="text-secondary">This is my CRUD application.</p>
    <p class="text-secondary">COMP2068-22S JavaScript Frameworks Project_2B</p>
</div>
<div class="container" align="center">
    <img src="./images/index.png" class="rounded" alt="index" >
</div>